.daily-horoscope-container {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 50px;
}

.title-horo {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #F2B138;
}

.input-horo {
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #fff;
  margin-bottom: 10px;
  background-color: #182E59;
  color: #fff;
}


.horoscope {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px;
  /* background-color: #fff; */
  color: #F2B138;
  height: auto;
  width: 20rem;
  border: 1px solid #F2B138;
  border-radius: 10px;
}