@import url('https://fonts.cdnfonts.com/css/macondo');

  * {
    margin: 0;
    font-family: 'Macondo', sans-serif;
  }
  @font-face {
    font-family: 'Macondo';
    src: url('https://fonts.cdnfonts.com/s/19997/Macondo-Regular.woff2') format('woff2'),
         url('https://fonts.cdnfonts.com/s/19997/Macondo-Regular.woff') format('woff');
  }
  
  .flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
      
}
.container{
	width: 350px;
	height: 500px;
	background: #182E59;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #F2B544;
}
.main{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
input{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}

.input-with-user-icon {
    padding-left: 40px;
    background-image: url("../../images/user-16.png");
    background-repeat: no-repeat;
    background-position: 10px center;
  }

  .input-with-lock-icon {
    padding-left: 40px;
    background-image: url("../../images/padlock-16.png");
    background-repeat: no-repeat;
    background-position: 10px center;
  }
  .input-with-mail-icon {
    padding-left: 40px;
    background-image: url("../../images/mail-2-16.png");
    background-repeat: no-repeat;
    background-position: 10px center;
  }
  button{
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #182E59;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
  }
  button:hover{
    background: #3370A6;
      border: 2px solid #F2B544;
  }
  .login{
    height: 460px;
    background: #F2B544;
    border-radius: 60% / 10%;
         
    transform: translateY(-180px);
    transition: .8s ease-in-out;
  }
  
  .login label{
    color: #182E59;
    transform: scale(.6);
  }