.body2 {
    background-image: url('../../images/starry0.jpg');
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    overflow: auto;
}


.box {
    display: flex;
    background-size: cover;
    position: sticky;
    top: 10%;
    left: 5%;
    width: 90%;
    height: 100%;
    z-index: 9999;
        
}

.side-nav {

    background-color: #182E59;
    width: 20%;
    height: auto;
    
   }

.page-left {
    flex: 1;
    background-color: #334B71;
    opacity: 80%;
}