.user-table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  border-collapse: collapse;

  margin: 10rem auto 0;

}

.user-table th {
  background-color: #182E59;
  text-align: left;
  padding: 10px;
  color: #fff;
  height: 2rem;
  border-bottom: 2px solid #182E59;

}

.user-table td {
  border: none;
  border-bottom: 1px solid #182E59;
  padding: 10px;
  background-color: #334B71;
  color: #fff;
}

.user-table tr:hover {
  background-color: #182E59;
}

.pagination {
  display: flex;
  justify-content: right;
  margin-top: 2rem;

  margin-left: 5rem;
  width: 80%;
  
}


.pagination a {
  display: inline-block;
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #182E59;
  color: #fff;
  
}

.pagination a:hover {
  background-color: #182E59;
  color: #334B71;
  cursor: pointer;
}


.pagination .previous-page,
.pagination .next-page {
  display: inline-block;
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #182E59;
  color: #fff;
  border: 1px solid #fff;
}

.pagination .previous-page:hover,
.pagination .next-page:hover {
  background-color: #182E59;
  color: #fff;
  cursor: pointer;
}

.pagination .disabled a {
  color: #ccc;
  cursor: not-allowed;

}


.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
