.user-table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-top: 10rem;
    margin-left:15rem;
    

  }
  
  .user-table th {
    background-color: #182E59;
    text-align: left;
    padding: 10px;
    color: #fff;
    
  }
  
  .user-table td {
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  .user-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .user-table tr:hover {
    background-color: #ddd;
  }
  