.admin-left {

    background-color: #334B71;
    height: auto;
    top: 0;
    left: 0;
    bottom: 0;
    width: 85%;
}

.admin-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.admin-title {
    color: #FFF;
    font-size: 1.5rem;
    padding-top: 4rem;
    align-items: center;
    text-align: center;
}

.chart-box {
    /* border: 2px solid red; */
    margin-top: 4rem;
    
    width: fit-content;
}

.chart-row1 {
    display: flex;
    flex-direction: row;

    gap: 5rem;
    padding: 1rem;
    /* border: 2px solid yellow; */
    width: fit-content;

}
.yellow{
    color: #F2B544;
}

.pie-ad {
    width: 15rem;
    height: 15rem;
    border: 3px solid #182E59;
    border-radius: 10px;
    box-shadow: 0 0 20px #00000033;
    /* background-color: #182E59; */
    background-color: #182E59;
    padding: 2rem;
    font-size: 1.5rem;
    color: #FFF;
    transition: all 0.3s ease;
    align-items: center;
    justify-content: center;

}
.pie-ad p1{
    font-size: 1rem;
}

.pie-ad:hover {
    transform: scale(1.1);
    box-shadow: 0 0 30px #00000055;
}

.chart-img-bar {
    width: 90%;
    height: auto;
     

}

.chart-img-pie {
    width: 50%;
    height: auto;
    padding: 2rem;
    
    margin-left: 2rem; 

}

.chart-img-line {
    width: 60%;
    height: auto;
    padding: 1rem;
    margin-left: 2rem;

}

.usercount{
      width: 15rem;
    height: 6rem;
    border: 3px solid #182E59;
    border-radius: 10px;
    box-shadow: 0 0 20px #00000033;
    background-color: #182E59;
    padding: 2rem;
    font-size: 1.5rem;
    color: #FFF;
    transition: all 0.3s ease;
    align-items: center;
    justify-content: center;
    display: flex;
}
.user-img-count{
width: 30%;
height: auto;
margin-left: -0.2rem;
margin-top: -1rem;
}
.user-img-count2{
    width: 30%;
    height: auto;
    margin-left: -0.6rem;
    margin-top: -1rem;
    }

.count-txt{
    font-size: 1.2rem;
    margin-left: -0.3rem;
    margin-top: 0.5rem;
    display: flex;
}
.count-txt2{
    font-size: 1.2rem;
    margin-left: -0.4rem;
    margin-top: 0.5rem;
}
.count{
    color:#F2B544;
    /* margin-left: 3rem; */
    font-size: 4rem;
    display: flex;
   
}