.horoscope-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: transparent;
    transition: background-color 0.3s ease;
  }
  
  .horoscope-content:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .horoscope-content h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  
  .horoscope-content p {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .body-horo {

  overflow-x: hidden;

  height: 100vh;

}

