.button2 {
    background-color: #F2B544;
    width: 8rem;
    height: 2rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    color: #334B71;
    border: 0;
    font-size: 1em;
    font-weight: bold;
  }
   
  .button2:hover {
    transform: scale(1.1);
    border:2px solid #fff;
    background-color: #e9a321;
    }
  
  
  .button2:active {
    transform: translateY(4px);
  }
  
  .button2:disabled {
    background-color: gray;
    cursor: not-allowed;
  }
  