.button3 {
    background-color: #FFF;
    width: 8rem;
    height: 2rem;
    border-radius: 1rem;
    border: 1px solid #182E59;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    color: #182E59;
    font-size: 1em;
    font-weight: bold;
  }
   
  .button3:hover {
    transform: scale(1.1);
    border:2px solid #182E59;
    }
  
  
  .button3:active {
    transform: translateY(4px);
  }
  
  .button3:disabled {
    background-color: gray;
    cursor: not-allowed;
  }
  