.horoscope-part1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    
}

.text-photo-horo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10rem;
    margin-bottom: 2rem;
}

.horo-slogan {
    font-size: 2.5rem;
    font-weight: 400;
    color: #fff;
    padding-top: 3rem;
    text-shadow: 0px 4px 10px rgba(235, 243, 5, 0.4);
    line-height: 4rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    
}

.zodiac-photo {
    width: 80%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30vh;
    z-index: 100;
    
 }
  
  .text {
    
    font-size: 5rem;
    display: flex;
    text-align: center;
    transform: translateX(-50%);
    color: #F2B138;
    margin-left: 18rem;
    text-shadow: 0px 4px 10px rgba(235, 243, 5, 0.4);
   
  }
  .text .wrapper {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
  }
  .text .wrapper .letter {
    transition: ease-out 1s;
    transform: translateY(40%);
  }
  .text .wrapper .shadow {
    transform: scale(1, -1);
    color: #F2EEB6;
    opacity: 10%;
    transition: ease-in 5s, ease-out 5s;
  }
  .text .wrapper:hover .letter {
    transform: translateY(-100%);
  }
  .text .wrapper:hover .shadow {
    opacity: 0;
    transform: translateY(200%);
  }

/* Styles for screens up to 768px wide */
@media screen and (max-width: 768px) {
  .text-photo-horo {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  
  .zodiac-photo {
    width: 100%;
    max-width: 400px;
  }
  
  .text {
    font-size: 2rem;
    margin-right: 2rem;
    letter-spacing: 0;
    text-align: center;
  }
  
  .text .wrapper {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }
}


@media screen and (min-width: 768px) and (max-width: 1200px) {
  .text-photo-horo {
    gap: 5rem;
  }
  
  .zodiac-photo {
    width: 50%;
    max-width: 400px;
  }
  
  .text {
    font-size: 4rem;
    margin-right: 15rem;
    text-align: center;
  }
  
  .text .wrapper {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
  }
}


@media screen and (min-width: 1200px) {
  .text-photo-horo {
    gap: 10rem;
  }
  
  .zodiac-photo {
    width: 80%;
  }
  
  .text {
    font-size: 5rem;
    margin-left: 18rem;
    text-align: center;
  }
  
  .text .wrapper {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
  }
}
