.button {
    background-color: #F2B544;
    width: 8rem;
    height: 2rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    color: #182E59;
    border: 0;
    font-size: 1em;
    font-weight: bold;
  }
   
  .button:hover {
    transform: scale(1.1);
    border:4px solid white;
    }
  
  
  .button:active {
    transform: translateY(4px);
  }
  
  .button:disabled {
    background-color: gray;
    cursor: not-allowed;
  }
  