body{
    overflow: auto;
}
.nav-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
   
}

.profile-pic {
    display: flex;
    width: 10rem;
    height: 10rem;
    border-radius: 10rem;
    box-shadow: 0 0 20px #00000033;
    object-fit: cover;
}

.personal-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    color: #fff;
}
.passchange{
    cursor: pointer;
}
.passchange:hover{
    color: #F2B544;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: #fff;

}
menu-icon{
    width: 1rem;
    height: auto; 
    
}

.menu-item{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: large;
}

.linking {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    
  }
  .linking:hover{
    color: #F2B544;
    transform: scale(1.1);
  }

